@import '../../../global/scss/config';

.coordinates {
  @include flex(row, flex-start, center);
  @include font(13px, 600, 0, $medium-gray);

  .x {
    color: $light-blue;
    margin-right: 6px;
  }

  .y {
    color: $green;
    margin-right: 6px;
  }

  .z {
    color: $orange;
  }
}